In [36]:
import pandas as pd

In [39]:
df = pd.read_csv('../data/2_16_mrfei_data_table.csv', 
                converters={'fips': lambda x: str(x)})

In [40]:
counties = [
    {"state_code":"06", "county_code": "001", "county_name": "Alameda, CA"},
    {"state_code":"06", "county_code": "013", "county_name": "Contra Costa, CA"},
    {"state_code":"06", "county_code": "041", "county_name": "Marin, CA"},
    {"state_code":"06", "county_code": "055", "county_name": "Napa, CA"},
    {"state_code":"06", "county_code": "075", "county_name": "San Francisco, CA"},
    {"state_code":"06", "county_code": "081", "county_name": "San Mateo, CA"},
    {"state_code":"06", "county_code": "085", "county_name": "Santa Clara, CA"},
    {"state_code":"06", "county_code": "095", "county_name": "Solano, CA"},
    {"state_code":"06", "county_code": "097", "county_name": "Sonoma, CA"},
]
df.head()

  state         fips mrfei
0    AL  01001020100    17
1    AL  01001020200    17
2    AL  01001020300    18
3    AL  01001020400    13
4    AL  01001020500     6

In [52]:
sf_bay_area = df.loc[(df['fips'].str[0:2] == '06') & (df['fips'].str[2:5].isin(['001', '013', '041', '055', '075', '081', '085', '095', '097']))]
len(sf_bay_area)

1405

In [53]:
sf_bay_area.to_csv(
    "../data/tract_mRFEI_levels.csv",
    index = False
)

In [54]:
(
    sf_bay_area
    .assign(
        state_code = lambda df: df["fips"].str.slice(0, 2),
        county_code = lambda df: df["fips"].str.slice(2, 5)
    )
    .groupby([
        "state_code",
        "county_code"
    ])
    .size()
    .to_frame("tracts")
    .reset_index()
    .merge(
        pd.DataFrame(counties),
        how = "outer",
        on = [
            "state_code",
            "county_code"
        ]
    )
    .sort_values("tracts", ascending = False)
)

  state_code county_code  tracts        county_name
6         06         085     341    Santa Clara, CA
0         06         001     321        Alameda, CA
4         06         075     176  San Francisco, CA
1         06         013     168   Contra Costa, CA
5         06         081     155      San Mateo, CA
8         06         097      86         Sonoma, CA
7         06         095      80         Solano, CA
2         06         041      51          Marin, CA
3         06         055      27           Napa, CA