In [26]:
import pandas as pd
import requests
from census import Census
from us import states
from shapely.geometry import Point
import geopandas as gp
from scipy.stats import ttest_ind

In [2]:
# To reproduce the data below, you'll need to save your 
# Census API key to `../data/census-api-key.txt`.
# You can obtain a key here: https://api.census.gov/data/key_signup.html
api_key = open("../data/census-api-key.txt").read().strip()
c = Census(api_key)

In [3]:
sf_bay_area = [
    {"state_code":"06", "county_code": "001", "county_name": "Alameda, CA"},
    {"state_code":"06", "county_code": "013", "county_name": "Contra Costa, CA"},
    {"state_code":"06", "county_code": "041", "county_name": "Marin, CA"},
    {"state_code":"06", "county_code": "055", "county_name": "Napa, CA"},
    {"state_code":"06", "county_code": "075", "county_name": "San Francisco, CA"},
    {"state_code":"06", "county_code": "081", "county_name": "San Mateo, CA"},
    {"state_code":"06", "county_code": "085", "county_name": "Santa Clara, CA"},
    {"state_code":"06", "county_code": "095", "county_name": "Solano, CA"},
    {"state_code":"06", "county_code": "097", "county_name": "Sonoma, CA"},
]

In [4]:
categories = [
     'NAME', # county name
     'B01001_001E', # Total population
     'B19013_001E', # Median income
     'B25077_001E', # Median home value
     'B15011_001E', # Total population age 25+ years with a bachelor's degree or higher
     'B03002_003E', # Not Hispanic or Latino!!White alone
     'B03002_004E', # Not Hispanic or Latino!!Black or African American alone
     'B02001_004E', # American Indian and Alaska Native Alone
     'B03002_006E', # Not Hispanic or Latino!!Asian alone
     'B03002_007E', # Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone
     'B03002_008E', # Not Hispanic or Latino!!Some other race alone
     'B03002_009E', # Not Hispanic or Latino!!Two or more races
     'B03002_012E', # Hispanic or Latino
     'B23025_005E', # Unemployed and in labor force
     'B23025_002E', # Labor force universe
     'B22001_002E', # receives SNAP
     'B22001_001E', # SNAP universe'
     'B19057_002E', # receives PAI
     'B19057_001E', # PAI universe(divide PAI with this)
     'B27001_001E', # health insurance universe
     'B27001_005E', 
     'B27001_008E', 
     'B27001_011E', 
     'B27001_014E', 
     'B27001_017E', 
     'B27001_020E', 
     'B27001_023E', 
     'B27001_026E',
     'B27001_029E', 
     'B27001_033E', 
     'B27001_036E', 
     'B27001_039E', 
     'B27001_042E', 
     'B27001_045E', 
     'B27001_048E', 
     'B27001_051E', 
     'B27001_054E', 
     'B27001_057E',
     'B25071_001E', # median percentage of income spent on rent
]

In [5]:
def get_acs_data(state_code, county_code):
    results = c.acs5.state_county_tract(
        categories,
        state_code,
        county_code, 
        Census.ALL,
        year = 2016
    )
    return [ {
        'geoid': res['state'] + res['county'] + res['tract'],
        'name': res['NAME'],
        'total_population': res['B01001_001E'],
        'median_income': res['B19013_001E'],
        'median_home_value': res['B25077_001E'],
        'educational_attainment': res['B15011_001E'],
        'white_alone': res['B03002_003E'],
        'black_alone': res['B03002_004E'],
        'native': res['B02001_004E'],
        'asian': res['B03002_006E'],
        'native_hawaiian_pacific_islander': res['B03002_007E'],
        'some_other_race_alone': res['B03002_008E'],
        'two_or_more': res['B03002_009E'],
        'hispanic_or_latino': res['B03002_012E'],
        'unemployed': res['B23025_005E'],
        'labor_force': res['B23025_002E'],
        'receives_snap': res['B22001_002E'],
        'snap_universe': res['B22001_001E'],
        'receives_pai': res['B19057_002E'],
        'pai_universe': res['B19057_001E'],
        'uninsured': res['B27001_005E'] + res['B27001_008E'] + res['B27001_011E'] + res['B27001_014E'] + res['B27001_017E'] + res['B27001_020E'] + res['B27001_023E'] + res['B27001_026E'] + res['B27001_029E'] + res['B27001_033E'] + res['B27001_036E'] + res['B27001_039E'] + res['B27001_042E'] + res['B27001_045E'] + res['B27001_048E'] + res['B27001_051E'] + res['B27001_054E'] + res['B27001_057E'], 
        'insured_universe': res['B27001_001E'],
        'median_percentage_income_rent': res['B25071_001E'],
    } for res in results ]

In [6]:
census_data = []
for county in sf_bay_area:
    print(county["county_name"])
    census_data += get_acs_data(county["state_code"], county["county_code"])

census_data = pd.DataFrame(census_data)[[
    'geoid',
    'name',
    'total_population',
    'median_income',
    'median_home_value',
    'educational_attainment',
    'white_alone',
    'black_alone',
    'native',
    'asian',
    'native_hawaiian_pacific_islander',
    'some_other_race_alone',
    'two_or_more',
    'hispanic_or_latino',
    'unemployed',
    'labor_force',
    'receives_snap',
    'snap_universe',
    'receives_pai',
    'pai_universe',
    'uninsured', 
    'insured_universe',
    'median_percentage_income_rent',
]]

census_data.head()

Alameda, CA
Contra Costa, CA
Marin, CA
Napa, CA
San Francisco, CA
San Mateo, CA
Santa Clara, CA
Solano, CA
Sonoma, CA

,geoid,name,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,...,hispanic_or_latino,unemployed,labor_force,receives_snap,snap_universe,receives_pai,pai_universe,uninsured,insured_universe,median_percentage_income_rent
0,06001400100,"Census Tract 4001, Alameda County, California",3018,177417.0,1074100.0,1981.0,2145.0,92.0,0.0,491.0,...,83.0,75.0,1643.0,0.0,1292.0,9.0,1292.0,110.0,3018.0,17.6
1,06001400200,"Census Tract 4002, Alameda County, California",1960,153125.0,978900.0,1278.0,1426.0,11.0,4.0,165.0,...,211.0,41.0,1270.0,5.0,813.0,0.0,813.0,73.0,1960.0,18.5
2,06001400300,"Census Tract 4003, Alameda County, California",5236,85313.0,912700.0,2817.0,3346.0,606.0,9.0,599.0,...,386.0,204.0,3402.0,55.0,2439.0,58.0,2439.0,160.0,5236.0,27.0
3,06001400400,"Census Tract 4004, Alameda County, California",4171,99539.0,848900.0,2512.0,2758.0,410.0,25.0,458.0,...,266.0,114.0,2678.0,29.0,1798.0,27.0,1798.0,173.0,4165.0,23.7
4,06001400500,"Census Tract 4005, Alameda County, California",3748,83650.0,683500.0,1822.0,1972.0,944.0,0.0,140.0,...,486.0,82.0,2545.0,50.0,1643.0,71.0,1643.0,397.0,3748.0,24.3

In [7]:
len(census_data)

1588

In [8]:
census_data.head()

,geoid,name,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,...,hispanic_or_latino,unemployed,labor_force,receives_snap,snap_universe,receives_pai,pai_universe,uninsured,insured_universe,median_percentage_income_rent
0,06001400100,"Census Tract 4001, Alameda County, California",3018,177417.0,1074100.0,1981.0,2145.0,92.0,0.0,491.0,...,83.0,75.0,1643.0,0.0,1292.0,9.0,1292.0,110.0,3018.0,17.6
1,06001400200,"Census Tract 4002, Alameda County, California",1960,153125.0,978900.0,1278.0,1426.0,11.0,4.0,165.0,...,211.0,41.0,1270.0,5.0,813.0,0.0,813.0,73.0,1960.0,18.5
2,06001400300,"Census Tract 4003, Alameda County, California",5236,85313.0,912700.0,2817.0,3346.0,606.0,9.0,599.0,...,386.0,204.0,3402.0,55.0,2439.0,58.0,2439.0,160.0,5236.0,27.0
3,06001400400,"Census Tract 4004, Alameda County, California",4171,99539.0,848900.0,2512.0,2758.0,410.0,25.0,458.0,...,266.0,114.0,2678.0,29.0,1798.0,27.0,1798.0,173.0,4165.0,23.7
4,06001400500,"Census Tract 4005, Alameda County, California",3748,83650.0,683500.0,1822.0,1972.0,944.0,0.0,140.0,...,486.0,82.0,2545.0,50.0,1643.0,71.0,1643.0,397.0,3748.0,24.3

In [9]:
census_data['geoid'] = census_data['geoid'].astype(str)

In [10]:
census_data.to_csv(
    "../data/2016_census_tract_data.csv",
    index = False
)

In [11]:
(
    census_data
    .assign(
        state_code = lambda df: df["geoid"].str.slice(0, 2),
        county_code = lambda df: df["geoid"].str.slice(2, 5)
    )
    .groupby([
        "state_code",
        "county_code"
    ])
    .size()
    .to_frame("tracts")
    .reset_index()
    .merge(
        pd.DataFrame(sf_bay_area),
        how = "outer",
        on = [
            "state_code",
            "county_code"
        ]
    )
    .sort_values("tracts", ascending = False)
)

  state_code county_code  tracts        county_name
6         06         085     372    Santa Clara, CA
0         06         001     361        Alameda, CA
1         06         013     208   Contra Costa, CA
4         06         075     197  San Francisco, CA
5         06         081     158      San Mateo, CA
8         06         097     100         Sonoma, CA
7         06         095      96         Solano, CA
2         06         041      56          Marin, CA
3         06         055      40           Napa, CA

In [21]:
ca_tracts = (
    gp.read_file(
        "../data/cb_2016_06_tract_500k/cb_2016_06_tract_500k.shp"
    )
    .drop(columns = [
        "TRACTCE",
        "AFFGEOID",
        "NAME",
        "ALAND",
        "AWATER",
        "LSAD"
    ])
)

bay_area_tracts.head()

,STATEFP,COUNTYFP,GEOID,geometry
0,06,013,06013359103,"POLYGON ((-122.302287 37.995278, -122.299658 3..."
1,06,013,06013366001,"POLYGON ((-122.353307 37.978544, -122.352953 3..."
2,06,013,06013374000,"POLYGON ((-122.347509 37.939984, -122.347471 3..."
3,06,013,06013388000,"POLYGON ((-122.308489 37.911273, -122.304275 3..."
4,06,017,06017030710,"POLYGON ((-121.081663 38.692493, -121.079227 3..."

In [22]:
county_codes = [i['county_code'] for i in sf_bay_area]
county_codes

['001', '013', '041', '055', '075', '081', '085', '095', '097']

In [24]:
bay_area_tracts = ca_tracts[
    ca_tracts['COUNTYFP'].isin(county_codes)
]
bay_area_tracts

,STATEFP,COUNTYFP,GEOID,geometry
0,06,013,06013359103,"POLYGON ((-122.302287 37.995278, -122.299658 3..."
1,06,013,06013366001,"POLYGON ((-122.353307 37.978544, -122.352953 3..."
2,06,013,06013374000,"POLYGON ((-122.347509 37.939984, -122.347471 3..."
3,06,013,06013388000,"POLYGON ((-122.308489 37.911273, -122.304275 3..."
17,06,001,06001400200,"POLYGON ((-122.257418 37.843096, -122.256205 3..."
18,06,001,06001400800,"POLYGON ((-122.288744 37.850007, -122.286247 3..."
19,06,001,06001401500,"POLYGON ((-122.284939 37.822769, -122.283643 3..."
20,06,001,06001402400,"POLYGON ((-122.284024 37.815622, -122.280237 3..."
21,06,001,06001405100,"POLYGON ((-122.242276 37.811565, -122.241101 3..."
22,06,001,06001405301,"POLYGON ((-122.254468 37.801838, -122.254073 3..."
23,06,001,06001406400,"POLYGON ((-122.226685 37.793545, -122.225399 3..."
24,06,001,06001407500,"POLYGON ((-122.20084 37.76913, -122.200809 37...."
25,06,001,06001409200,"POLYGON ((-122.184167 37.726529, -122.179316 3..."
26,06,001,06001410500,"POLYGON ((-122.292315 37.809156, -122.289802 3..."
27,06,001,06001421700,"POLYGON ((-122.274543 37.884895, -122.272876 3..."
28,06,001,06001422900,"POLYGON ((-122.273067 37.871512, -122.268403 3..."
29,06,001,06001423602,"POLYGON ((-122.265277 37.864265, -122.260741 3..."
30,06,001,06001428000,"POLYGON ((-122.251144 37.77086, -122.245398 37..."
31,06,001,06001430600,"POLYGON ((-122.106285 37.709765, -122.105237 3..."
32,06,001,06001432502,"POLYGON ((-122.18157 37.725319, -122.180256 37..."
33,06,001,06001433104,"POLYGON ((-122.151151 37.716942, -122.151638 3..."
34,06,001,06001433800,"POLYGON ((-122.130024 37.696939, -122.12944 37..."
35,06,001,06001436602,"POLYGON ((-122.091829 37.648688, -122.091467 3..."
36,06,001,06001436800,"POLYGON ((-122.098136 37.657768, -122.096908 3..."
37,06,001,06001438400,"POLYGON ((-122.091349 37.62507, -122.089062 37..."
38,06,001,06001440335,"POLYGON ((-122.019662 37.592519, -122.018634 3..."
39,06,001,06001441523,"POLYGON ((-122.051618 37.566778, -122.047157 3..."
40,06,001,06001441926,"POLYGON ((-121.980761 37.544614, -121.976822 3..."
41,06,001,06001443002,"POLYGON ((-121.969001 37.522484, -121.957596 3..."
42,06,001,06001444400,"POLYGON ((-122.044662 37.533296, -122.04028 37..."
...,...,...,...,...
7877,06,081,06081607900,"POLYGON ((-122.293744 37.570542, -122.288366 3..."
7890,06,075,06075016801,"POLYGON ((-122.432467 37.773757, -122.430825 3..."
7891,06,075,06075020100,"POLYGON ((-122.42262 37.772503, -122.422186 37..."
7892,06,075,06075022803,"POLYGON ((-122.41672 37.757167, -122.412348 37..."
7896,06,085,06085501101,"POLYGON ((-121.897038 37.350591, -121.892914 3..."
7897,06,075,06075023400,"POLYGON ((-122.396682 37.720266, -122.393284 3..."
7905,06,085,06085501900,"POLYGON ((-121.915001 37.315221, -121.914353 3..."
7906,06,085,06085502908,"POLYGON ((-121.920907 37.261882, -121.914916 3..."
7907,06,085,06085503116,"POLYGON ((-121.864749 37.279805, -121.861476 3..."
7908,06,001,06001450743,"POLYGON ((-121.906606 37.702327, -121.905137 3..."
7909,06,001,06001451202,"POLYGON ((-121.813666 37.74678, -121.811912 37..."
7922,06,081,06081610800,"POLYGON ((-122.228911 37.471487, -122.228127 3..."
7939,06,081,06081611800,"POLYGON ((-122.152874 37.476104, -122.150631 3..."
7940,06,081,06081613200,"POLYGON ((-122.253539 37.374611, -122.249827 3..."
7975,06,001,06001404900,"POLYGON ((-122.230803 37.802906, -122.228892 3..."
7976,06,001,06001405800,"POLYGON ((-122.237973 37.79646, -122.237121 37..."
7977,06,001,06001407600,"POLYGON ((-122.211133 37.775171, -122.20681 37..."
7978,06,001,06001408600,"POLYGON ((-122.19283 37.761996, -122.190235 37..."
7979,06,001,06001420300,"POLYGON ((-122.326912 37.892492, -122.315439 3..."
7980,06,081,06081600100,"POLYGON ((-122.456308 37.693475, -122.451273 3..."
7981,06,081,06081601605,"POLYGON ((-122.475067 37.661206, -122.475731 3..."
7982,06,081,06081604700,"POLYGON ((-122.413045 37.592174, -122.413899 3..."
7983,06,081,06081606100,"(POLYGON ((-122.296859691412 37.5754576908652,..."
7984,06,085,06085511400,"POLYGON ((-122.15586 37.43833, -122.153444 37...."
7985,06,085,06085511909,"POLYGON ((-121.912442 37.2169, -121.908939 37...."
7986,06,085,06085512027,"POLYGON ((-121.875991 37.25574599999999, -121...."
7993,06,001,06001421600,"POLYGON ((-122.266609 37.886035, -122.26257 37..."
7994,06,001,06001423901,"POLYGON ((-122.271661 37.846923, -122.27117 37..."
8007,06,085,06085511911,"POLYGON ((-121.874926 37.24260599999999, -121...."
8027,06,013,06013302007,"POLYGON ((-121.716146 37.997804, -121.711708 3..."

In [34]:

merged_gdf = gp.sjoin(
    bay_area_tracts,
    census_data,
    how = "inner"
)

ModuleNotFoundError: No module named 'rtree'