In [19]:
import pandas as pd
from census import Census
from us import states
from shapely.geometry import Point
import geopandas as gp
from scipy.stats import ttest_ind
import rtree
pd.set_option('display.max_columns', 500)

In [20]:
df = pd.read_csv('../data/self_sufficiency_and_costs.csv')
df.head()

,Family Type,Adult(s),Infant(s),Preshooler(s),Schoolager(s),Teenager(s),State,Year,All Families Table #,County,Housing Costs,Child Care Costs,Food Costs,Transportation Costs,Health Care Costs,Miscellaneous costs,Taxes,Earned Income Tax Credit (-),Child Care Tax Credit (-),Child Tax Credit (-),Hourly Self-Sufficiency Wage,Monthly Self-Sufficiency Wage,Annual Self-Sufficiency Wage,Emergency Savings
0,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,1,Alameda County,"$2,322","$2,312",$698,$162,$484,$598,"$2,144",$0,($100),($333),$47.09,"$8,287","$99,446",$514
1,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,2,Alpine County,$940,"$1,278",$659,$274,$559,$371,$679,$0,($100),($333),$24.59,"$4,327","$51,926",$192
2,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,3,Amador County,"$1,055","$1,429",$771,$278,$559,$409,$786,$0,($100),($333),$27.58,"$4,854","$58,244",$233
3,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,4,Butte County,$992,"$1,542",$607,$275,$559,$397,$753,$0,($100),($333),$26.66,"$4,692","$56,302",$221
4,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,5,Calaveras County,$902,"$1,287",$833,$281,$559,$386,$722,$0,($100),($333),$25.78,"$4,537","$54,444",$210

In [21]:
all_counties = (
    gp.read_file(
        "../data/cb_2017_us_county_500k/cb_2017_us_county_500k.shp"
    )
)
all_counties.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,01,005,00161528,0500000US01005,01005,Barbour,06,2292144656,50538698,"POLYGON ((-85.74803199999999 31.619181, -85.74..."
1,01,023,00161537,0500000US01023,01023,Choctaw,06,2365869837,19144469,"POLYGON ((-88.47322699999999 31.893856, -88.46..."
2,01,035,00161543,0500000US01035,01035,Conecuh,06,2201948618,6643480,"POLYGON ((-87.42720399999999 31.26436, -87.425..."
3,01,051,00161551,0500000US01051,01051,Elmore,06,1601762124,99965171,"POLYGON ((-86.41333499999999 32.750591, -86.37..."
4,01,065,00161558,0500000US01065,01065,Hale,06,1667907107,32423356,"POLYGON ((-87.870464 32.762442, -87.868184 32...."

In [22]:
ca_counties = all_counties.loc[all_counties['STATEFP'] == '06']
ca_counties.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
18,06,001,01675839,0500000US06001,06001,Alameda,06,1909616630,216916717,"POLYGON ((-122.342253 37.805558, -122.33411840..."
19,06,005,01675841,0500000US06005,06005,Amador,06,1539933576,29470568,"POLYGON ((-121.027406 38.50354, -121.027472 38..."
20,06,013,01675903,0500000US06013,06013,Contra Costa,06,1857310903,225193562,"POLYGON ((-122.42976 37.965405, -122.418592 37..."
21,06,023,01681908,0500000US06023,06023,Humboldt,06,9241251740,1254039383,"POLYGON ((-124.408601 40.44320099999999, -124...."
22,06,037,00277283,0500000US06037,06037,Los Angeles,06,10510588451,1794793532,"(POLYGON ((-118.604415 33.478552, -118.598783 ..."

In [23]:
df['NAME'] = df['County'].str.replace(' County', '')
df.head()

,Family Type,Adult(s),Infant(s),Preshooler(s),Schoolager(s),Teenager(s),State,Year,All Families Table #,County,Housing Costs,Child Care Costs,Food Costs,Transportation Costs,Health Care Costs,Miscellaneous costs,Taxes,Earned Income Tax Credit (-),Child Care Tax Credit (-),Child Tax Credit (-),Hourly Self-Sufficiency Wage,Monthly Self-Sufficiency Wage,Annual Self-Sufficiency Wage,Emergency Savings,NAME
0,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,1,Alameda County,"$2,322","$2,312",$698,$162,$484,$598,"$2,144",$0,($100),($333),$47.09,"$8,287","$99,446",$514,Alameda
1,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,2,Alpine County,$940,"$1,278",$659,$274,$559,$371,$679,$0,($100),($333),$24.59,"$4,327","$51,926",$192,Alpine
2,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,3,Amador County,"$1,055","$1,429",$771,$278,$559,$409,$786,$0,($100),($333),$27.58,"$4,854","$58,244",$233,Amador
3,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,4,Butte County,$992,"$1,542",$607,$275,$559,$397,$753,$0,($100),($333),$26.66,"$4,692","$56,302",$221,Butte
4,a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,5,Calaveras County,$902,"$1,287",$833,$281,$559,$386,$722,$0,($100),($333),$25.78,"$4,537","$54,444",$210,Calaveras

In [24]:
ca_counties_merged = ca_counties.merge(df, on='NAME')

In [25]:
ca_counties_merged.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry,Family Type,Adult(s),Infant(s),Preshooler(s),Schoolager(s),Teenager(s),State,Year,All Families Table #,County,Housing Costs,Child Care Costs,Food Costs,Transportation Costs,Health Care Costs,Miscellaneous costs,Taxes,Earned Income Tax Credit (-),Child Care Tax Credit (-),Child Tax Credit (-),Hourly Self-Sufficiency Wage,Monthly Self-Sufficiency Wage,Annual Self-Sufficiency Wage,Emergency Savings
0,06,001,01675839,0500000US06001,06001,Alameda,06,1909616630,216916717,"POLYGON ((-122.342253 37.805558, -122.33411840...",a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,1,Alameda County,"$2,322","$2,312",$698,$162,$484,$598,"$2,144",$0,($100),($333),$47.09,"$8,287","$99,446",$514
1,06,005,01675841,0500000US06005,06005,Amador,06,1539933576,29470568,"POLYGON ((-121.027406 38.50354, -121.027472 38...",a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,3,Amador County,"$1,055","$1,429",$771,$278,$559,$409,$786,$0,($100),($333),$27.58,"$4,854","$58,244",$233
2,06,013,01675903,0500000US06013,06013,Contra Costa,06,1857310903,225193562,"POLYGON ((-122.42976 37.965405, -122.418592 37...",a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,7,Contra Costa County,"$2,339","$2,280",$665,$283,$541,$611,"$2,292",$0,($100),($333),$48.74,"$8,578","$102,934",$529
3,06,023,01681908,0500000US06023,06023,Humboldt,06,9241251740,1254039383,"POLYGON ((-124.408601 40.44320099999999, -124....",a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,12,Humboldt County,$956,"$1,514",$594,$272,$559,$389,$730,$0,($100),($333),$26.02,"$4,580","$54,959",$213
4,06,037,00277283,0500000US06037,06037,Los Angeles,06,10510588451,1794793532,"(POLYGON ((-118.604415 33.478552, -118.598783 ...",a1i0p1s1t0,1,0,1.0,1.0,0.0,CA,2018,19,Los Angeles County,"$1,663","$1,956",$634,$298,$353,$490,"$1,211",$0,($100),($333),$35.07,"$6,172","$74,064",$383

In [26]:
ca_counties_merged.shape

(58, 34)

In [27]:
dropped = ca_counties_merged.drop(columns=["COUNTYNS", "AFFGEOID", "LSAD", "ALAND", 'AWATER', 'Adult(s)', "Infant(s)", "Preshooler(s)", "Schoolager(s)","Teenager(s)", "All Families Table #", "Child Care Tax Credit (-)", "Child Tax Credit (-)", "Child Care Tax Credit (-)"])

In [28]:
dropped.head()

,STATEFP,COUNTYFP,GEOID,NAME,geometry,Family Type,State,Year,County,Housing Costs,Child Care Costs,Food Costs,Transportation Costs,Health Care Costs,Miscellaneous costs,Taxes,Earned Income Tax Credit (-),Hourly Self-Sufficiency Wage,Monthly Self-Sufficiency Wage,Annual Self-Sufficiency Wage,Emergency Savings
0,06,001,06001,Alameda,"POLYGON ((-122.342253 37.805558, -122.33411840...",a1i0p1s1t0,CA,2018,Alameda County,"$2,322","$2,312",$698,$162,$484,$598,"$2,144",$0,$47.09,"$8,287","$99,446",$514
1,06,005,06005,Amador,"POLYGON ((-121.027406 38.50354, -121.027472 38...",a1i0p1s1t0,CA,2018,Amador County,"$1,055","$1,429",$771,$278,$559,$409,$786,$0,$27.58,"$4,854","$58,244",$233
2,06,013,06013,Contra Costa,"POLYGON ((-122.42976 37.965405, -122.418592 37...",a1i0p1s1t0,CA,2018,Contra Costa County,"$2,339","$2,280",$665,$283,$541,$611,"$2,292",$0,$48.74,"$8,578","$102,934",$529
3,06,023,06023,Humboldt,"POLYGON ((-124.408601 40.44320099999999, -124....",a1i0p1s1t0,CA,2018,Humboldt County,$956,"$1,514",$594,$272,$559,$389,$730,$0,$26.02,"$4,580","$54,959",$213
4,06,037,06037,Los Angeles,"(POLYGON ((-118.604415 33.478552, -118.598783 ...",a1i0p1s1t0,CA,2018,Los Angeles County,"$1,663","$1,956",$634,$298,$353,$490,"$1,211",$0,$35.07,"$6,172","$74,064",$383